<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <nav class="navbar">
            <div class="nav-left">
                <button class="menu-toggle">&#9776;</button>
            </div>

            <div class="logo">PISH POSH</div>

            <ul class="nav-links">
                <li class="dropdown">
                    <a href="{{ url_for('women') }}">Women</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ url_for('men') }}">Men</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Pants</a></li>
                    </ul>
                </li>
                {% if 'user_id' not in session %}
                <a href="{{ url_for('register') }}">Register</a>

                {% else %}
                <button onclick="location.href='{{ url_for('profile', name=session['name']) }}'"></button>
                {% endif %}
            </ul>

            <div class="nav-right">
                <a href="#" class="icon">&#128269;</a> <!-- Search Icon -->
                <a href="#" class="icon">&#128717;</a> <!-- Cart Icon -->
            </div>
        </nav>

        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <ul>
                <button class="menubutton" onclick="location.href='{{ url_for('women') }}'">Women</button>
                <button class="menubutton" onclick="location.href='{{ url_for('men') }}'">Men</button>
                <li><a href="#">Kids</a></li>
            </ul>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>